@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Oops";
}

<hgroup>
    <h1 class="text-error">Oops.</h1>
    <h2 class="text-error">Her skjedde det noe feil, vennligst kontakt en systemadministrator (Alexander Perry).</h2>
</hgroup>
