@purple-color: #54038e;
@darkpurple-color: #320255;
@lightpurple-color: #7635A5;
@green-color: #c0d72f;
@gray-color: #6e6e6e;

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.navbar{
    background-color: @purple-color;
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-inverse .navbar-inner {
    background-image: none;
    background-color: @purple-color;
}

.navbar-inverse .brand {
color: white;
font-weight: bold;
}

.navbar-inverse .nav li a {
    color: white;
}

.navbar-inverse .nav li a:hover {
    color: lightgray;
}

.navbar-inverse .nav-collapse .nav li a {
    color: white;
}

.navbar-inverse .nav-collapse .nav li a:hover {
    background-color: @darkpurple-color;
}

.navbar-inverse .btn-navbar {
    background-image: none;
    background-color: @darkpurple-color;
}

.navbar-inverse .btn-navbar:hover {
    background-image: none;
    background-color: @lightpurple-color;
}